# project specific
release/tool/
release/lib/
release/temp/
release/dist/
release/*.nupkg
LibZ.Tool.InjectIL/Resources/*.dll

# regular .NET output
bin/
obj/
ipch/
*.opensdf
*.user
*.suo
*.sdf
*.snk

# NuGet packages
packages/**
!packages/repositories.config
!packages/NuGet.exe
