# project specific
/src/release/tool/
/src/release/lib/
/src/release/temp/
/src/release/dist/
/src/release/*.nupkg
/src/LibZ.Tool.InjectIL/Resources/*.dll

# regular .NET output
bin/
obj/
ipch/
*.opensdf
*.user
*.suo
*.sdf
*.snk

# NuGet packages
/src/packages/**
!/src/packages/repositories.config
!/src/packages/NuGet.exe
